<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Job Status</title>
</head>
<body>

<table border ='1' width="75%">
 {% for key in weather_data.0 %}
         <th>{{key}}</th>
 {% endfor %}
         <th>Restart</th>

{% for dic in weather_data %}
    {% with items=dic.items %}
        <tr>
            {% for item in items.0.1 %}
                {% with lst_tuple=item.items %}
                    <td>
                        {{lst_tuple.0.1}}
                        {% for links in lst_tuple.1.1 %}
                            <ul>
                                <li>
                                    <a href = "{{ links }}">{{ links }}</a>
                                </li>
                            </ul>
                        {% endfor %}
                    </td>
                {% endwith %}
            {% endfor %}
            <td>{{items.1.1 }}</td>
            <td><a href ="{% url 'Login:restart' %}?job_name={{items.2.1}}">Restart</a></td>
        </tr>
    {% endwith %}
{% endfor %}
</table>
</body>
</html>