<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Job Status</title>
</head>
<body>


<table border ='1' width="75%">
<th>Schedule Status</th><th>Job Name</th><th>Restart</th>
{% for task in tasks %}
    <tr>
    <td>
        {% for tuple in task.tasks %}
            {{ tuple.0 }}
            <ul>
                {% for link in tuple.1 %}
                    <li>
                        <a href="{{link}}">{{link}}</a>
                    </li>
                {% endfor %}
            </ul>
        {% endfor %}
    </td>
    <td>
        {{task.job_name}}
    </td>
     <td>
         <a href ="{% url 'Login:restart' %}?job_name={{task.job_name}}">Restart</a>
     </td>
    </tr>
{% endfor %}

</table>
</body>
</html>